/* ===== Fonts ===== */

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/inter-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/inter-700.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/inter-900.woff2") format("woff2");
	font-display: swap;
}

/* ===== Global Selector ===== */

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 1366px;
	min-height: 100%;
	margin: 0;
	font: 400 16px / 22px "Inter", sans-serif;
	color: #565c66;
}

/* ===== Public Pages Classes ===== */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
}

.page-theme-pink {
	background-color: #feafc3;
}

.container {
	width: 1230px;
	margin: 0 auto;
	padding: 0 30px;
}

.reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.reset-paragraph {
	margin: 0;
}

.reset-address {
	font-style: normal;
}

.normalize-button {
	padding: 0;
	font: inherit;
	color: inherit;
	background-color: rgb(255 255 255 / 0);
	border: 0;
	cursor: pointer;
}

.normalize-input {
	padding: 0;
	font-family: inherit;
	background-color: rgb(255 255 255 / 0);
	border: 0;
}

.normalize-link {
	text-decoration: none;
	color: inherit;
}

.main-title {
	font-weight: 900;
	font-size: 36px;
	line-height: 46px;
	color: #2d3440;
}

.main-subtitle {
	font-weight: 900;
	font-size: 32px;
	line-height: 46px;
	color: #2d3440;
}

.subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: #2d3440;
}

.subtitle-small {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #2d3440;
}

.text-paragraph-big {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #2d3440;
}

.text-paragraph {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #2d3440;
}

.text-small {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #2d3440;
}

.text-smaller {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #2d3440;
}

/* ===== Header ===== */

.header-phone {
	font-weight: 700;
}

.user-menu-button {
	padding: 0;
	font-family: inherit;
	background-color: rgb(252 252 252 / 0.3);
	border: 0;
	cursor: pointer;
}

/* ===== Footer ===== */

.page-footer {
	margin-top: auto;
}

.footer-navigation-title {
	font-size: inherit;
}

/* ===== Main ===== */

.main-container {
	flex-grow: 1;
}

.button {
	padding: 0;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	border: 0;
	box-shadow: 0 4px 12px rgb(45 52 64 / 0.1);
	cursor: pointer;
}

.main-button {
	color: #2d3440;
	background-color: #fcfcfc;
	outline: 4px solid rgb(252 252 252 / 0.4);
}

.additional-button {
	background-color: rgb(252 252 252 / 0.3);
	border: 2px solid #fcfcfc;
}

.button-bright {
	color: #fcfcfc;
	background-color: #ff2f64;
	outline: 4px solid rgb(255 47 100 / 0.3);
}

.field {
	padding: 0;
	font-family: inherit;
	background-color: #ffffff;
	border: 1px solid #b9b9b9;
}

.field::placeholder {
	color: #b9b9b9;
	opacity: 1;
}

/* ===== Main Index ===== */

/* === Promo Slider === */

.slider-pagination-button {
	background-color: #fcfcfc;
	opacity: 0.3;
	border-radius: 50%;
}

.slider-pagination-button.is-current {
	opacity: 1;
}

.slider-button {
	padding: 0;
	border-radius: 50%;
	cursor: pointer;
}

.slider-slideshow-next {
	opacity: 0.4;
}

/* === Banners === */

.banners-title {
	text-align: center;
}

.banner {
	background-color: #ff7799;
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 219px;
}

.banner-raspberry {
	background-image: url("../images/background/banner-raspberry.png");
}

.banner-marshmallow {
	background-image: url("../images/background/banner-marshmallow.png");
}

.banner-description {
	color: #2d3440;
}

/* === Popular Products === */

.popular-products-title {
	text-align: center;
}

/* Product Card */

.product-image {
	border-radius: 50%;
	filter: drop-shadow(0 4px 12px rgb(45 52 64 / 0.1));
}

.product-title {
	text-align: center;
}

.product-description {
	text-align: center;
}

.product-button {
	background-color: #ff2f64;
	border-radius: 50%;
}

/* === Shop Advantages === */

.shop-advantages-wrapper {
	background: url("../images/background/shop-advantages-background.jpg") repeat-y left top / 100%;
	background-color: #f0e5cc;
}

.shop-advantages-content {
	background-color: #ffffff;
}

.shop-advantages-title {
	text-align: center;
}

/* === News Blog === */

.news-blog {
	background: url("../images/background/news-blog-serving.jpg") no-repeat left top / 570px;
	background-color: #ffffff;
}

.news-blog-title {
	color: #565c66;
}

/* === Newsletter === */

.newsletter {
	background: url("../images/background/newsletter-background.png") no-repeat;
	background-color: #edf1f5;
}

.newsletter-content {
	background: #ffffff;
}

/* === Delivery === */

.delivery-wrapper {
	background: url("../images/background/delivery-background.jpg") no-repeat left top / 100%;
	background-color: #f9f9f9;
}

.delivery-form {
	background-color: #fcfcfc;
	box-shadow: 0 15px 40px rgb(45 52 64 / 0.12);
}

.delivery-label {
	font-weight: 700;
}

/* === Contacts === */

.contacts-wrapper {
	background: url("../images/background/contacts-background.jpg") no-repeat left top / 100%;
	background-color: #ebdfdf;
}

.contacts-content {
	background-color: #fcfcfc;
	box-shadow: 0 8px 16px rgb(45 52 64 / 0.12);
}

.contacts-phone-time {
	color: #565c66;
}

/* ===== Main Inner ===== */

/* === Inner Header === */

.breadcrumbs-link {
	font-weight: 700;
}
